.placeholder-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.placeholder-with-call-to-action {
	border: 2px dashed #D4DBDF;
	background-color: white;
}

.placeholder-button {
	color: var(--fds-color-button-primary-color);
	background-color: var(--fds-color-button-primary-background);
	border-color: var(--fds-color-button-primary-border);
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	height: 1.75rem;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-top: .375rem;
	margin-bottom: 1rem;
}

.placeholder-button:hover {
	background-color: var(--fds-color-button-primary-background-hover);
	border-color: var(--fds-color-button-primary-border-hover);
}

.placeholder-button-disabled {
	opacity: .4;
}

.placeholder-button-disabled:hover {
	background-color: var(--fds-color-button-primary-background);
	border-color: var(--fds-color-button-primary-border);
}

