
/**** Devine General Styles ****/

body {
	padding: 0 10% 10% 10%;
	margin: 0px;
	font-family: 'Fira Sans', Helvetica, Verdana, sans-serif;
	letter-spacing: 0.0.25em;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.65em;
	color: #2f054b;
}

/**** Headings in document ****/

/** Main Title **/

h1 {  
	font-family: 'Ubuntu', Helvetica, Verdana, sans-serif;	
 	color: #2f054b;
	font-weight: 700;
	font-size: 1em;
	padding:0px;
}


/** H1 **/

section > h1 {  
 	color: #d11a70;
	font-size: 1.6em;
	margin:0 0 2rem 0;
}


/** H Definitions **/

section > section > h1, section > section > section > h1, section > section > section > section > h1, section > section > section > section > section > h1, section > section > section > section > section > section > h1 {
	color: #2f054b;
	margin:0 0 0.8rem 0;
}



/** H2 **/

section > section > h1 {font-size: 1.4em;}


/** H3 **/

section > section > section > h1 {font-size: 1.2em;}


/** H4 **/

section > section > section > section > h1 {font-size: 1em;}


/** H5 **/

section > section > section > section > section > h1 {font-size: 0.95em;}


/** H6 **/

section > section > section > section > section > section > h1 {font-size: 0.95em;}



/**** Content Styling ****/


/** DIV BLOCK **/
div p {
	background-color: #F5F0EE;
	padding: 2em;
	font-size: 0.9em;
}


p {margin:0 0 2.4rem 0;}


a {
	color: ##1055CC;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}


span.bold {font-weight: 900;}

span.italic {font-style: italic;}

span.underline {text-decoration: underline;}

span.sup {
	font-size: .75rem;
	vertical-align: super;
	margin: 0 0.5em;
}

span.sub {
	font-size: .75rem;
	vertical-align: sub;
	margin: 0 0.5em;
}




/** Tables **/

table {
	border-collapse: collapse;
	border: 1px solid #F5F0EE;
	width: 100%;
	margin: 1em 0 1rem 0;

}


th,td {border: 1px solid #C0C0C0;}
th {text-align: left;}

table p {
	margin: 0;
	padding: 0.5em;
	font-weight: 300;
}
th p {
	margin: 0;
	padding: 0.5em;
	font-weight: 500;
	background-color: #F5F0EE;
}


/** Lists **/

ol, ul {margin: 0 0 2rem 0;}

ul {list-style: square;}
li ol li {list-style: lower-latin;}
li ul li {list-style: circle;}


ol li, ul li , ol p, ul p {
	margin:0rem;
	padding:0rem;
}

ol, ul {color: #d11a70; font-weight: 500;}
ol p,  ul p {color: #2f054b; font-weight: 300;}





/**** HeaderPart in document ****/

header, header div {
	display: block;
	margin: 0px;
}

header {padding: 2rem 0;}

header div {padding:0px;}

header div:nth-child(1n+2) {
	margin-top:4rem;
	margin-bottom: 6rem;
	
}

header div h1 {  
	font-family: 'Ubuntu', Helvetica, Verdana, sans-serif;	
 	color: #d11a70;
	font-weight: 700;
	font-size: 4em;
	padding:0px;
	margin:0px;
	line-height:1.1em;
}

header img {
height: 60px;
width: auto;
}

/**** FooterPart in document ****/

footer  {
	font-family: 'Fira Sans', Helvetica, Verdana, sans-serif;
	letter-spacing: 0.0.25em;
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 1.65em;
	color: #b5b2b0;
	display: block;
	margin: 0px;
	padding: 2rem 0 0 0;
}

footer div {
	display: block;
	margin:0px;
	padding:0px;
}


