
<!-- NOTE: Do not remove any of the tags in this file -->
<template>
	<header>
		<div><img src="https://www.fontoxml.com/wp-content/uploads/Fonto-Logo_Kleur.png"></img></div>
		<div><h1>Working with Fonto 4 Business</h1></div>
	</header>

	<!-- {{ffb:content}} -->

	<footer>
		<div>Fonto 4 Business provides you easy authoring</div>
	</footer>
</template>
