[cv-output-class='div-family-styling'] {
	background-color: rgba(136, 158, 168, 0.125);
	padding-top: 0.57143em;
	padding-bottom: 0.57143em;
	border-top: 1px solid rgba(24, 31, 35, 0.125);
	border-bottom: 1px solid rgba(24, 31, 35, 0.125);
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	padding-right: 5px;
}
[cv-output-class='is-filtered'] {
	text-decoration: line-through;
}

[cv-font-variation='collection-title'] {
	--fontoxml-font-size: calc(var(--fontoxml-font-size-inherited) * 2.285714286);
	font-weight: 600;
	line-height: 1.2;
}

[cv-font-variation='document-title'] {
	--fontoxml-font-size: calc(var(--fontoxml-font-size-inherited) * 2);
	font-weight: 600;
	line-height: 1.2;
}

[cv-font-variation='section-title'] {
	--fontoxml-font-size: calc(var(--fontoxml-font-size-inherited) * 1.714285714);
	font-weight: 600;
	line-height: 1.2;
}

[cv-font-variation='medium-title'] {
	--fontoxml-font-size: calc(var(--fontoxml-font-size-inherited) * 1.428571429);
	font-weight: 600;
	line-height: 1.2;
}

[cv-font-variation='small-title'] {
	--fontoxml-font-size: calc(var(--fontoxml-font-size-inherited) * 1.142857143);
	font-weight: 600;
	line-height: 1.2;
}

/* The second one because the first one is the html file */
fx-templated-view:nth-child(2) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary {
	border-top: 1px solid rgba(114, 114, 114, 0.25);
}

fx-templated-view:nth-child(2) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary > cv-block-header {
	padding-top: 2rem;
}

fx-templated-view:not(:first-child):last-child [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary {
	border-bottom: 1px solid rgba(114, 114, 114, 0.25);
}

fx-templated-view:not(:first-child):not(:nth-child(2)) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary > cv-block-header {
	padding-top: 0.5rem;
}

fx-templated-view:not(:first-child) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary > cv-block-footer {
	padding-bottom: 1.3125rem;
}

fx-templated-view:not(:first-child) [cv-output-class='sheet-frame-family-styling'] {
	padding-bottom: 0 !important
}

fx-templated-view:not(:first-child) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary {
	border-left: 1px solid rgba(114, 114, 114, 0.25);
	border-right: 1px solid rgba(114, 114, 114, 0.25);
}

fx-templated-view:not(:first-child) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary.focus {
	border: 1px solid var(--fds-color-focus);
}

fx-templated-view:not(:first-child) [cv-output-class='sheet-frame-family-styling'] > cv-block-boundary::after {
	/* hide the sheet frames by hiding the borders (implemented with box-shadow) at all times */
	/* !important is necessary because the CSS-in-JS styles use !important for errored documents, @see DocumentsListPlaceholderSheetFrame.jsx.js */
	box-shadow: none !important;
}
